html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


#main1 {
    height: 100%;
    width: 100%;
    display: grid;
    
    grid-template-columns: 25% 25%  50%;
    grid-template-rows: 30% 50% 20%; 
   
    box-sizing: border-box; 
}
 #left-center{
        font-size: 25px;
      }
      

#left-top-right {
    
   justify-self: right;
   text-align: right;
   
    grid-column: 2; 
    grid-row: 1 ; 
}

#left-top-left {
   
    height: 100%;
    width: 100%;
    grid-column: 1;
    padding: 10%;
    grid-row: 1;
}

#left-center {
  
    grid-row: 2; 
   
    grid-column: 1 / 3;
    grid-row: 2;
    padding-left:15px;
    font-weight: 600;
    
}

#left-center h1{
    font-size: 30px;
    
    padding-left: 30px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#left-center h1:nth-child(2n){
    
    text-align: center;
}


#left-bottom {
   
    grid-column: 1 /3;
    grid-row: 3; 
    height: 100%;
    width: 100%;
   
}
#left-bottom{
    text-align: center;
}
#right
{
    
    grid-column: 3;
    grid-row: 1 / 4;
    padding: 40px;
}
#right video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#square{
    height:15px;
    width:15px;
    .dark-mode {
       
        color: white;
      }
      

      
      
   
}
#left-top-right h5{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
}
#left-top-right h6{
    padding: 0;
    margin:0;
    font-size: 10px;
    font-weight: 400;
    
}
#gallery {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto); 
    gap: 10px; 
    width: 400%; 
    padding: 10px; 
}

.g1 {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}
.n1{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    
   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifs;


}
#logo{
    height:70px;
    width:70px;
    margin:0px;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    
    padding-left: 10px;
}
footer p{
    text-align: center;
    margin-left: 100%;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
     'Lucida Sans', Arial, sans-serif;
}
.con{
    display:flex;
    flex-direction: row;
}
section{
    justify-content: left;
    height:100%;
    width:100%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height:5%;
    width: 100%;
    background-color:black;
    
    color: white;
    text-align: center;
  }
  .footer p{
    width:100%;
    margin-top: 0px;
  }
  @media(max-width:1000px){
   
    #gallery {
        display: flex;
        flex-direction: column;
       
        gap: 10px; 
        width: 100%; 
        padding: 10px; 
         margin-left: 5%;
        margin-right:5%;
         align-items:center;

  }
  #main1 {
    height: 100%;
    width: 100%;
    display: flex;
        margin-left: 5%;
        margin-right:5%;
       align-items:center;
   
    
    flex-direction: column;
    
    box-sizing: border-box; 
}
  section{
    justify-content: left;
    height:500px;
    width:100%;
}
.n1 p{
    font-size: 50px;
}

}




